{{#if this.countriesReturned.fromTwoToTen}}
    {{#each this.data}}
        <li>
            <img class="flag" src="{{flags.svg}}" alt="{{name.official}} National Flag">
            {{name.official}}
        </li>
    {{/each}}
{{else}}
    {{#each this.data}}
        <article>
            <div class="country-info-wrapper">
                <img class="flag" src="{{flags.svg}}" alt="{{name.official}} National Flag">
                <h2>{{name.official}}</h2>
            </div>
            <p><strong>Capital:</strong> {{capital}}</p>
            <p><strong>Population:</strong> {{population}}</p>
            <p><strong>Languages:</strong>
                {{#each languages}}
                        {{this}}{{#unless @last}},{{/unless}}
                {{/each}}
            </p>
        </article>
    {{/each}}
{{/if}}
