{{#each this}}
    <article>
        <div class="country-info-wrapper">
            <img class="flag" src="{{flags.svg}}" alt="{{name.official}} National Flag">
            <h2>{{name.official}}
            </h2>
        </div>
        <p><b>Capital:</b> {{capital}}</p>
        <p><b>Population:</b> {{population}}</p>
        <p><b>Languages:</b>
            {{#each languages}}
                    {{this}}{{#unless @last}},{{/unless}}
            {{/each}}
        </p>
    </article>
{{/each}}
